.banner{
    background-color: gray;
    width: 600px;
    height: 300px;
    border-radius: 12px;
    margin: auto;
    padding: 0 20px;
}
footer{
    background-image: linear-gradient(to right, gray , rgb(127, 162, 222));
}
.banner-section{
    height: 500px;
    width: 800px;
    background-image: url('./Radiology-mri-machine-room.jpeg');
      background-repeat: no-repeat; 
  background-size: 1000px;
      margin:50px auto;
}
@media only screen and (max-width: 600px) {
    .banner{
        width: 450px;
        height: 220px;
        line-height: 0.7;
    }
.banner-section{
    height: 300px;
    width: 500px;
    background-size: 500px;
}
}